body {
    font-family:微软雅黑;
    margin: 0px;    
    padding: 0px;
    width:300px;
    height:600px;
    background:#FFFFFF;
}

body>div{
    float:left;
    clear:both;
    width:100%;
}
.tag{

    color:#FFFFFF;
    width:30px;
    text-align:center;
    padding:0;
    font-size:10px;
    border-radius:2px;
}


/*定义登陆页面*/

#login{

}
#login div.input{
    text-align:center;
}
/* 数据加载页面 */
.loading{
    padding-top:180px;
    display:none;
    text-align:center;
}


/* 列表 */
.main{
    display:none;
}


/* 顶部选项 */
.main .menu{
    width:100%;
    height:30px;
    background:#EEEEEE;
}

.main .menu .menu_one{
    width:24px;
    height:24px;
    padding:3px 0 3px 10px;
    background-repeat:no-repeat;
    background-position:center;
    float:left;
}
.main .menu .other_icon{
    background-image:url('../images/other_icon.png');
}

.main .menu .todo_icon{
    background-image:url('../images/todo_icon.png');
}
.main .menu .group_icon{
    background-image:url('../images/group_icon.png');
}

.main .menu .finish_icon{
    background-image:url('../images/finish_icon.png');
}


.main .menu .newtodo_icon{
    background-image:url('../images/newtodo_icon.png');
}


/* 已完成列表的设置 */
.main .finish_list{
    display:none;
}
.finish_list #finish .title .name{
    width:80px;
}


.listbox,.finish_list{
    height:570px;
    overflow-x:hidden;
    overflow-y:auto;
    -webkit-box-sizing: border-box;
    -webkit-user-select: text;
}
/* 定义滚动条 */
::-webkit-scrollbar {
    width: 5px;
}


::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
}

::-webkit-scrollbar-track {
    margin: 2px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.12)));
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35);
    -webkit-border-radius: 3px;
}


/* 列表央视定义 */

.list{
    float:left;
    width:100%;
}

.list .title{
    width:100%;
    height:40px;
    cursor:pointer;
}
.list .title span{
    font-size:20px;
    margin-left:10px;
    height:100%;
}
.list .title .name{
    padding-top:5px;
    font-size:24px;
    float:left;
    color:#00BBE8;
}

.list .title .count{
    color: #EEEEEE;
    float: right;
    padding-top: 5px;
    margin-right: 20px;
}

.todolist{
    float:left;
    width:100%;
}
/* 定义每项的样式 */
.todo{
    font-size:12px;
    color:#666666;
    width:100%;
    height:40px;
    float:left;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#EEEEEE;
}
.todo:hover{
    background:#EEEEEE;
}
.todo:hover .content{
    max-width:235px;
}
.todo:hover .checked{
    display:block;
}
.todo span{
    float:left;
    cursor:pointer;
    margin-top:10px;
}
.todo>.tag{

    background:transparent;
    color:#FFFFFF;
    float:left;
    width:30px;
    height:17px;
    text-align:center;
    padding:0;
    margin-top:-5px;
    margin-left:5px;
    font-size:10px;
    border-radius:2px;
}
.todo .content,.todo .finish_content{
    max-width:255px;
    margin-left:5px;
    margin-right:5px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.todo .checked{
    display:none;

    width:20px;
    height:20px;
    background-image:url('../images/checked.png');
    right:5px;
    float:right;
}
.todo .checked:hover{
    background-image:url('../images/checked_hover.png');
}

/* 编辑区样式处理 */
.modify{
    display:none;
    width:100%;
    margin:5px 5px 40px 5px;
}
.modify .textarea{
    font-family:'微软雅黑';
    font-size:12px;
    color:#666666;
    overflow:hidden;
    outline:none;
    border-style:none;
    background:#EEEEEE;
    resize:none;
    width:230px;
}
.modify .tool span{
    margin-right:5px;
}
.modify .tool .remind:hover{
    background-image:url('../images/remind_hover.png');
}
.modify .tool .remind{
    width:20px;
    height:20px;
    float:right;
    background-image:url('../images/remind.png');
}

.modify .tool .remind_true{
    background-image:url('../images/remind_true.png');
}
.modify .tool .addnote:hover{
    background-image:url('../images/addnote_hover.png');
}
.modify .tool .addnote{
    width:20px;
    height:20px;
    float:right;
    background-image:url('../images/addnote.png');
}
/* 标签列表 */

.modify .tool .tagslist{
    margin-left:5px;
    max-width:180px;
    float:left;
    text-align:center;
}
.modify .tool .tagslist .tag{
    display:none;
    margin:0 1px;
    background:transparent;
}
.modify .tool .tagslist .tag:hover{
    width:45px;
}
.modify .tool .tagslist:hover .tag{
    display:block;
}

.remindbox{
    display:none;
    font-size:12px;
}

.remindbox #date_day{
    width:70px;
}

.remindbox [type=button]:hover{
    background:#77DD77;
}
.remindbox [type=button]{
    cursor:pointer;
    width: 48%;
    color: white;
    background: #77EE77;
    border-style: none;
    border-radius: 5px;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
    font-family: 微软雅黑;
    box-shadow: 1px 1px 1px #DDD;
}

/* 添加新的todo */
#newtodo{
    display:none;
    width: 100%;
    margin-top: 20px;

}
#newtodo textarea{
    width: 94%;
    margin: 5px;
    resize: none;
}


#newtodo .folder{
    width:100%;
    text-align: center;
    resize: none;
    margin:20px 0 70px 0;
}

#newtodo .folder .folderone{
    width: 43px;
    float: left;
    height: 24px;
    background: #CCC;
    text-align: center;
    margin-left: 3px;
    color: white;
    cursor:pointer;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #DDD;
}
#newtodo .folder .folderone:hover{
    background:#77EE88;
}
#newtodo .folder #folderchecked{
    background:#77EE88;
}

#newtodo .input{
    width:100%;
    text-align:center;
}

#newtodo .input input:hover{
    background:#77DD77;
}
#newtodo .input input{
    width: 40%;
    margin: 5px;
    font-family: 微软雅黑;
    font-size: 16px;
    background: #77EE77;
    border-style: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 1px #DDD;
}

/* seting页面设置 */

.seting{
    display:none;
    width:100%;
    height:500px;
    font-size:14px;
}
.seting .setone{
    min-height:12px;
    width:96%;
    float:left;
    margin:5px;
}
.seting .setone input{
    font-size:14px;
    font-family:"微软雅黑";
}
.seting .setone .tagname{
    width:35px;

}

.seting .setone .tagcolor{
    width:65px;
}
